html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 62.5%;

  background-color: #e0fbfc;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;

  height: 8rem;

  background-color: #99c1d9;
}

h1 {
  margin: 0;
  font-size: 3.6rem;
}

h2 {
  padding: 0.5rem 2rem;
  font-size: 2.4rem;
  text-align: center;
}

main {
  display: flex;
  gap: 2rem;

  padding: 2rem;
}

.profile_menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 30%;
  background-color: azure;
}

.profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 70%;
}

.profile > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.profile_add > form > label {
  margin-right: 2rem;

  font-size: 1.8rem;
  font-weight: 600;
}

input:focus {
  outline: none;
}

.profile_add > form > input {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;

  font-size: 1.8rem;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  background: none;
}

#profile_add_btn {
  padding: 1rem;

  color: white;
  background-color: #3d5a80;
  font-weight: 500;
  border-radius: 1rem;
}

.profile_card {
  width: 40%;
  padding: 2rem;

  border-radius: 2rem;
  background-color: #3d5a80;
}

.profile_card > button {
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  background-color: #e0fbfc;
  border: none;
  border-radius: 1rem;
}

.profile_card > ul {
  padding: 0;
}

.profile_card > ul > li {
  list-style: none;
  line-height: 1.5;

  color: white;
  font-size: 2rem;
  font-weight: 500;
}
